
#background{
  background-color:#D8C3A5;
}
.nav_management{
    background-color: #e8d9c3;
    border-radius: 15px;
    height: 100%;
}
.linkToManagementAddItem{
    text-decoration: none;
    color: black;
}
.cart_container{
  margin-bottom: 24vh;
}
.go_back{
  text-decoration: none;
  color: black;
}
.fira-sans-black{
  font-family: "Fira Sans", sans-serif;
}
.cart_item_img{
  width: 200px;
}
.cart-table-wrapper{
  background-color: #EAE7DC;
  border-radius: 12px;
}
.cart_container h1{
  color: #8E4324;
  font-weight: bold;
}
.playfair-display {
font-family: "Playfair Display", serif;
font-weight: 400; /* Regular */
}
.cart-item-name{
  font-size: 15px;
}
.place_order_btn {
position: relative;
background-color: #8E3E1B;
border-radius: 5px;
box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
padding: 15px;
background-repeat: no-repeat;
cursor: pointer;
box-sizing: border-box;
width: 154px;
height: 49px;
color: #fff;
border: none;
font-size: 20px;
transition: all 0.3s ease-in-out;
z-index: 1;
overflow: hidden;
}
.place_order_btn1 {
position: relative;
background-color: #4f4f4f;
border-radius: 5px;
box-shadow: #4f4f4f 0px 4px 0px 0px;
padding: 15px;
background-repeat: no-repeat;
cursor: pointer;
box-sizing: border-box;
width: 154px;
height: 49px;
color: #fff;
border: none;
font-size: 20px;
transition: all 0.3s ease-in-out;
z-index: 1;
overflow: hidden;
}

.place_order_btn::before {
content: "";
background-color: rgb(248, 50, 93);
width: 0;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: width 700ms ease-in-out;
display: inline-block;
}

.place_order_btn:hover::before {
width: 100%;
}
.inventory_container{
    margin-top: 6%;
}
.order_container{
    margin-top: 6%;
}

.cart_icon{
  margin: auto;
  padding: 5px;
}
.order-table-wrapper{
  background-color: #EAE7DC;
  border-radius: 12px;
  margin-bottom: 4%;
}
.order-h1{
  color: #8E4324;
font-weight: bold;
}
.status-span{
  border-radius: 12px;
}
.cart_icon_container{
  display: inline-flex;
  border: 1px solid black;
  border-radius: 30px;
}
.management_btn{
    appearance: none;
    background-color: #e8d9c3;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 100;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform; 
}
.management_btn:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.management_btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.event-logo{
    max-width: 50px;
    max-height: 50px;
}

.upload-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.upload-btn img {
    width: 100px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.upload-btn input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Hide the default file input styling */
.upload-btn input[type=file]::-webkit-file-upload-button {
    display: none;
}

.upload-btn input[type=file]::before {
    content: 'Upload Image';
    display: inline-block;
    background-color: #007bff; /* Customize button color */
    color: #fff; /* Customize text color */
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.upload-btn input[type=file]::after {
    content: 'No file chosen';
    display: inline-block;
    margin-left: 10px;
    color: #666; /* Customize text color */
}
.add_item_row{
    display: inline-flex;
    width: 95%;
}
.add-item-container{
    background-color: #E4DFD0;
}
.editItem_img{
    width: 150px;
    height: 150px;
}












/* Registration Form */

.registration_container {
    margin-top: 6%;
}

.registration-form-container {
    background-color: #E4DFD0;
    padding: 20px;
    border-radius: 15px; /* Consistency in styling */
}

.registration_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center; /* Align labels and inputs properly */
}

.registration_row label {
    font-weight: 600; /* Bold labels for clarity */
    margin-right: 10px; /* Space between label and input */
}

/* Styling for all input fields and the select field */
input[type="email"], input[type="text"], input[type="password"], input[type="tel"],
input[type="date"], select {
    width: 60%; /* Unified width for all inputs */
    padding: 8px;
    border: 1px solid #ccc; /* Consistent border style */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Readable text size */
}

.form-submit-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: auto; /* Button width based on content */
    margin-top: 20px; /* Space above the button */
}

.form-submit-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.form-submit-button:active {
    box-shadow: none;
    transform: translateY(0);
}



body,
html {
    height: 100%;
    line-height: 20px;
    font-family: 'Fira Sans', sans-serif;
}

/* full-height image header*/
.top {
    padding: 10px;
}

/* navigation bar */
nav .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 18px;
}
nav .nav-content .FoodEdge-logo {
    flex: 1; /* Allow logo to take up remaining space */
}
nav .nav-content .right-align {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    float: right;
    display: flex;
    align-items: center;
}
nav .nav-content .right-align ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav .nav-content .right-align ul li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #8E3E1B;
    margin-right: 15px;
}
nav a:hover {
    color: #8e8d8a; /* Change color on hover */
}
/* Dropdown*/
.dropdownbutton {
    text-decoration: none;
    color: #8E3E1B;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.dropdownbutton:hover {
    color: #8e8d8a;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

.dropdown-content a {
    color: #8E3E1B;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Content (Menu Page)*/
.container1 {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0px 90px 20px 20px;
    background-color: #d8c3a5;
}

.category {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 70px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #8E3E1B;
}

.category .menu {
    color: #e98074;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: calc(33% - 20px);
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin-bottom: 20px;
    box-sizing: border-box;
    transform-origin: center bottom; /* Changed from center center to center bottom */
}

.card:hover {
    transform: rotateY(180deg);
    transform-origin: center center;
}

.front1,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 28px;
}

.front1 {
    background-color: #e85a4f;
}

.back {
    background-color: #e98074;
    transform: rotateY(180deg);
}

.front1 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
}

.front-wording1 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
    font-size: 200%;
    color: #fff;
    width: 100%;
    text-align: center;
}

.back-wording {
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    margin: 40px 30px 20px 30px;
    text-align: center;
}

.info-title {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-size: larger;
    padding-top: 50px;
}

.info-title .info {
    color: #fff;
    font-weight: lighter;
}

.start-browsing-button {
    background-color: #8e8d8a;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.start-browsing-button:hover {
    color: #8E3E1B;
}

/* Footer */
.ft-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer {
    background-color: #e98074;
    padding: 3rem;
    /* padding-top: 7rem; */
    padding-bottom: 40px;
}

.ft-logo {
    width: 220px;
    height: 220px;
}

li {
    list-style: none;
}

.ft-col-1,
.ft-col-2 {
    flex: 1;
    padding-left: 20%;
}

.ft-col-2 {
    padding-left: 10%;
}

.ft-services h2 {
    padding-bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #8e3e1b;
}

.ft-main-links {
    line-height: 32px;
}

.ft-main-links li a {
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    padding-right: 8px;
    color: #8e3e1b;
    text-decoration: none;
}

.ft-main-links li a:hover {
    color: #fff;
}

.ft-aboutFoodEdge {
    text-align: justify;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    color: #8E3E1B;
}

/* Profile form styling */
.profile-form-container {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e85a4f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-form-container label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
}

.profile-form-container input[type="text"],
.profile-form-container input[type="date"],
.profile-form-container input[type="tel"],
.profile-form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-form-container input[type="file"] {
    width: calc(100% - 10px); /* Adjusted width */
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
}

.profile-form-container input[type="file"]:focus {
    outline: none;
    border-color: #8e8d8a;
}

.profile-form-container .file-input-label {
    display: inline-block;
    background-color: #8e8d8a;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-form-container .file-input-label:hover {
    background-color: #8E3E1B;
}

.profile-form-container input[type="submit"] {
    background-color: #8e8d8a;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-form-container input[type="submit"]:hover {
    background-color: #8E3E1B;
}

/* Profile container */
.profile-wrapper{
    background-color: #D8C3A5;
    padding:2%;
}
.profile-wrapper h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #8E3E1B;
    font-family: 'Fira Sans', sans-serif;
}
.profile-container {
    background-color: #e85a4f;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* Profile information */
.profile-info {
    color: #fff;
    width: 60%;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 55px;
    margin: auto;
    
}

/* Profile image */
.profile-image {
    width: 50%;
    text-align: center;
}

.profile-image img {
    width: 300px;
    padding-left: 50px;
    border-radius: 10px 10px 10px ;

}
/* Styling for edit profile button */
.edit-profile-button {
    background-color: #8e8d8a;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-profile-button:hover {
    background-color: #8E3E1B;
}

/* Styling for logout button */
.logout-button {
    background-color: #8e8d8a;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px; /* Added margin to match the edit profile button */
}

.logout-button:hover {
    background-color: #8E3E1B;
}

.buttons-container {
    margin-top: 20px;
}
  
  
  .button-group {
      display: flex;
      justify-content: center;
      gap: 10px;
  }

  .form-button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px; /* Rounded corners */
  }


  .registration_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content; /* Adjust based on your form's width or use a specific px/em value */
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: beige;
}

.CartBtn {
  margin: auto;
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

/* Payment Page Styles */
/* Event Scheduling Form */

.catering-form-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    font-family: 'Fira Sans', sans-serif; 
}

.catering-form-wrapper h2 {
    font-family: 'Playfair Display', serif; 
    color: #8E3E1B;
}

.catering-form-wrapper label,
.catering-form-wrapper input,
.catering-form-wrapper textarea,
.catering-form-wrapper button {
    font-family: 'Fira Sans', sans-serif; 
}

.catering-form-wrapper input[type="text"],
.catering-form-wrapper input[type="tel"],
.catering-form-wrapper input[type="email"],
.catering-form-wrapper input[type="date"],
.catering-form-wrapper input[type="time"],
.catering-form-wrapper textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #8e8d8a;
    color: white;
}

/* Button styling */
.catering-form-wrapper .form-button {
    background-color: #8E3E1B;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.catering-form-wrapper .form-button:hover,
.catering-form-wrapper .form-button:focus {
    background-color: #228B22;
    outline: none;
}

/* Styling for payment method selection (horizontal layout) */
.catering-form-wrapper .payment-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.catering-form-wrapper .payment-details {
    display: none;
    padding: 10px;
    background: #EAE7DC;
    border-radius: 5px;
}

.catering-form-wrapper .payment-details.visible {
    display: block;
}

/* Payment images styling */
.payment-image {
    width: 100%; /* Full width of the container */
    max-width: 200px; /* Controls the maximum width */
    height: auto; /* Maintains aspect ratio */
    display: block;
    margin: 0 auto;
}

/* Delivery options styling */
.catering-form-wrapper .delivery-options label {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.catering-form-wrapper #deliveryDetails,
.catering-form-wrapper #pickUpDetails {
    margin-top: 10px;
    padding: 10px;
    background: #EAE7DC;
    border-radius: 5px;
}