#background{
    background-color: #EAE7DC;
}
.nav_management{
    background-color: #E4DFD0;
    border-radius: 15px;
    height: 95vh;
}
.linkToManagementAddItem{
    text-decoration: none;
    color: black;
}
.inventory_container{
    margin-top: 6%;
    
}
.inventory_container button{
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform; 
}
.inventory_container button:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.inventory_container button:active {
  box-shadow: none;
  transform: translateY(0);
}
.event-logo{
    max-width: 50px;
    max-height: 50px;
}

.upload-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.upload-btn img {
    width: 100px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.upload-btn input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Hide the default file input styling */
.upload-btn input[type=file]::-webkit-file-upload-button {
    display: none;
}

.upload-btn input[type=file]::before {
    content: 'Upload Image';
    display: inline-block;
    background-color: #007bff; /* Customize button color */
    color: #fff; /* Customize text color */
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.upload-btn input[type=file]::after {
    content: 'No file chosen';
    display: inline-block;
    margin-left: 10px;
    color: #666; /* Customize text color */
}
.add_item_row{
    display: inline-flex;
    width: 95%;
}
.add-item-container{
    background-color: #E4DFD0;
}